* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
}

body {
  background: #f6f7f9;
}

.login-wrapper {
  display: flex;
  min-height: 100vh;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("https://images.unsplash.com/photo-1600607687939-ce8a6c25118c")
      center/cover no-repeat;
  color: #fff;
  padding: 60px;
  display: flex;
  align-items: center;
}

.left-content {
  max-width: 520px;
}

.left-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}

.left-content h2 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 20px;
  opacity: 0.95;
}

.left-content p {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.9;
  font-weight: 300;
}

/* RIGHT SIDE */
.login-right {
  width: 500px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-card {
  width: 100%;
  box-shadow: 0px 0px 10px 1px #e0e0e0;
  border-radius: 10px;
  padding: 20px;
}

.login-card h3 {
  font-size: 28px;
  margin-bottom: 6px;
  color: #111827;
}

.login-card p {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #374151;
}

.form-group input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  outline: none;
}

.form-group input:focus {
  border-color: #2563eb;
}

.form-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
  font-size: 14px;
}

.form-options label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #374151;
}

.form-options a {
  color: #f97316;
  text-decoration: none;
  font-weight: 500;
}

.btn-login {
  width: 100%;
  padding: 13px;
  background: #f04d0c;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-login:hover {
  background: #e0450b;
}

.footer-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #6b7280;
}

.footer-text a {
  color: #f97316;
  text-decoration: none;
  font-weight: 600;
}

/* ================================================= */
/* ================= dashboard styles ============== */
/* ================================================== */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px;
}
.sidebar.collapsed .sidebar-header {
  justify-content: center;
}

.sidebar-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Icons */
.menu .icon {
    font-size: 30px;
    width: 24px;
    text-align: center;
    line-height: 20px;
}

/* Collapsed sidebar */
.sidebar.collapsed {
  width: 80px;
  padding: 0px 10px;
}

.sidebar.collapsed .text,
.sidebar.collapsed .logo-text,
.sidebar.collapsed .sidebar-close,
.sidebar .sidebar-open {
  display: none;
}
.sidebar.collapsed .sidebar-open {
  display: block;
}

/* Main content shift */
.main {
    transition: margin-left 0.3s ease;
    flex: 1;
    padding: 30px;
}


.sidebar {
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 260px;
  background: #fff;
  border-right: 1px solid #e5e7eb;
}


.sidebar-footer {
  border-top: 1px solid #e5e7eb;
  padding: 20px;
}

.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 16px;
  border-radius: 8px;
  cursor: pointer;
  color: #374151;
}
.sidebar.collapsed .logout {
  padding: 0;
}

.logout:hover {
  background: #fee2e2;
  color: #b91c1c;
}

.sidebar.collapsed .logout .text {
  display: none;
}

/* Hamburger */
.sidebar-open {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Layout */
.app {
  display: flex;
  min-height: 100vh;
}

.logo-text {
  font-size: 22px;
  font-weight: 700;
  color: #f04d0c;
}


.logo {
  font-size: 24px;
  font-weight: 700;
  color: #f04d0c;
  margin-bottom: 30px;
}


.sidebar.collapsed .menu {
  padding: 0px;
}


.menu {
  list-style: none;
  padding: 20px;
  flex: 1;
}

.menu li {
  padding: 14px 16px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #374151;
  font-weight: 500;
}

.menu li.active,
.menu li:hover {
  background: #f04d0c;
  color: #fff;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 28px;
}

.header p {
  color: #6b7280;
  margin-top: 4px;
}

.user {
  text-align: right;
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 42px;
  height: 42px;
  background: #f04d0c;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}


.user span {
  display: block;
  font-weight: 600;
}

.user small {
  color: #6b7280;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}


.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon.orange { background: #f04d0c; color: #fff; }
.card-icon.dark { background: #111827; color: #fff; }
.card-icon.beige { background: #efe6d8; color: #7c6f5a; }


.card h3 {
  font-size: 14px;
  color: #6b7280;
}

.card h2 {
  margin: 10px 0;
  font-size: 32px;
}

.card span {
  font-size: 13px;
  color: #10b981;
}

/* Section */
.section {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #e5e7eb;
}

.section h2 {
  margin-bottom: 16px;
}

.activity {
  background: #f2efe9;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.activity small {
  color: #6b7280;
}

/* Hide all pages */
.page {
  display: none;
}

.page.active {
  display: block;
}

.chart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.chart-box {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
}

.chart-box h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #374151;
}

/* Make charts compact */
.chart-box canvas {
  max-height: 180px;
}



/* Page header */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn-primary {
  background: #f04d0c;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

/* Table */
.table-card {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  height: calc(100vh - 130px);
  overflow-y: auto;
  box-shadow: 0 0 10px 1px #ececec;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1200px;
}

.desc-cell {
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-table th,
.data-table td {
  padding: 14px;
  border-bottom: 1px solid #eee;
}

.data-table img {
  width: 50px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}

/* Actions */
.action-btn {
  cursor: pointer;
  margin-right: 10px;
}

/* Modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: #fff;
  width: 420px;
  padding: 20px;
  border-radius: 12px;
  height: 98%;
  max-height: max-content;
  overflow-y: auto;
}

.modal-box::-webkit-scrollbar {
    display: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modal-box input ,
.modal-box select,
.modal-box textarea{
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px;
  border-radius: 6px;
}

.modal-box input:focus-visible, .modal-box select, .modal-box textarea:focus-visible {
  outline-color:#f04d0c;
  border-radius: 6px;
}

.modal-actions {
  text-align: right;
  margin-top: 10px;
}

.modal label{
  display: block;
}


/* Initial Avatar */
.initial-avatar {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: #f04d0c;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 0 auto;
}

/* Table alignment */
.data-table td {
  text-align: center;
}


.modal-header button {
    background: none;
    border: none;
    cursor: pointer;
}


.modal-box.large {
  width: 720px;
}

.secondary-images img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 4px;
}


/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 16px;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #e5e7eb;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.pagination button.active {
  background: #f04d0c;
  color: #fff;
  border-color: #f04d0c;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


.jodit-container:not(.jodit_inline) .jodit-wysiwyg {
    overflow-y: auto;
}
.jodit-container {
    height: 400px !important;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .login-left {
    display: none;
  }

  .login-right {
    width: 100%;
  }
}
